<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask--基于调度方法的类视图-登录</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="username" placeholder="admin"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" name="userpsd" placeholder="admin123"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">登录</button></td>
            </tr>
            {% if error %}
                <tr>
                    <td></td>
                    <td><span style="color: red;">{{ error }}</span></td>
                </tr>
            {% endif %} 
        </table>
    </form>
</body>
</html>