<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>转账</title>
</head>
<body>
    <form action="{{ url_for('transfer') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <table>
            <tbody>
            <tr>
                <td>邮箱</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>转账金额</td>
                <td><input type="text" name="money"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">提交</button></td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>