<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WTForms常用验证器</title>
</head>
<body>
    <h3>WTForms常用验证器</h3>
    <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td>邮箱</td>
                    <td><input type="text" name="email" value="123@qq.com"></td>
                </tr>
                <tr>
                    <td>用户名</td>
                    <td><input type="text" name="username" value="zhiliao"></td>
                </tr>
                <tr>
                    <td>年纪</td>
                    <td><input type="number" name="age" value="18"></td>
                </tr>
                <tr>
                    <td>手机号</td>
                    <td><input type="tel" name="phone" value="13065551121"></td>
                </tr>
                <tr>
                    <td>个人主页</td>
                    <td><input type="text" name="homepage" value="https://www.baidu.com/"></td>
                </tr>
                <tr>
                    <td>uuid</td>
                    <td><input type="text" name="uuidstr" value="81f049a8-a973-47cf-a8b3-1eae499bfd70"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit">提交</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>